<!-- IF $OPT == 'c_sidebar_widgets' -->
  {% set CONFIG %}{c_sidebar_widgets.WID}{% endset %}
  <!-- ELSEIF $OPT == 'c_footer_widgets' -->
  {% set CONFIG %}{c_footer_widgets.WID}{% endset %}
<!-- ENDIF -->

<option value="none"     {% if CONFIG == 'none'     %} selected="selected"{% endif %}>No widget</option>
<option value="recents"  {% if CONFIG == 'recents'  %} selected="selected"{% endif %}>Recent Topics</option>
<option value="infotabs" {% if CONFIG == 'infotabs' %} selected="selected"{% endif %}>Info Tabs</option>
<option value="auth"     {% if CONFIG == 'auth'     %} selected="selected"{% endif %}>Authentication</option>
<option value="adblock"  {% if CONFIG == 'adblock'  %} selected="selected"{% endif %}>Advertisement</option>
<option value="forums"   {% if CONFIG == 'forums'   %} selected="selected"{% endif %}>Forums List</option>
<option value="links"    {% if CONFIG == 'links'    %} selected="selected"{% endif %}>Links List</option>
<option value="about"    {% if CONFIG == 'about'    %} selected="selected"{% endif %}>About Us Text</option>
<option value="custom1"  {% if CONFIG == 'custom1'  %} selected="selected"{% endif %}>Custom Code Widget 1</option>
<option value="custom2"  {% if CONFIG == 'custom2'  %} selected="selected"{% endif %}>Custom Code Widget 2</option>
<option value="custom3"  {% if CONFIG == 'custom3'  %} selected="selected"{% endif %}>Custom Code Widget 3</option>
