// Placeholder classes ---------------------------------------------------------

%clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }
  &:after{
    clear: both;
  }
}

%fa {
  font-family: FontAwesome;
}

%icon {
  content: ' ';
  width: 1.1em;
  position: absolute;
  left: 0;
  text-align: center;
  display: inline-block;
}

%forum-icon {
  width: 35px;
  height: 35px;
  line-height: 36px;
  font-size: 17.5px;
  left: 5px;
  top: 15px;
  border-radius: $radius-i;
}

%checkimage {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  display: block;
  content: ' ';
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 50%;
  transition: $trans;
}

%button {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  border: none;
  border-radius: $radius;
  white-space: nowrap;
  font-weight: 600;
  background-color: $primary-c;
  color: $white-2;
  cursor: pointer;
  box-shadow: $shadow;
  outline: none !important;
  transition: $trans;
  visibility: visible;
  -webkit-touch-callout: none;
  user-select: none;
  &:hover {
    color: $white;
    background-color: $primary-c-l;
    box-shadow: 0 1px 3px 0 rgba(black, 0.25);
  }
  &:focus,
  &:active {
    color: $white;
      background: $primary-c-d;
  }
}

// Animations ------------------------------------------------------------------

%icon-pop-anim {
  animation-name: icon-pop;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
