<!-- IF S_WALL_ENABLED -->

{% INCLUDECSS '@msaulohenrique_wall/bootstrap.min.css' %}
{% INCLUDECSS '@msaulohenrique_wall/music.css' %}
{% INCLUDECSS '@msaulohenrique_wall/wall.css' %}

{% INCLUDEJS '@msaulohenrique_wall/js/angular.min.js' %}
{% INCLUDEJS '@msaulohenrique_wall/js/angular-animate.min.js' %}
{% INCLUDEJS '@msaulohenrique_wall/js/bootstrap.js' %}
{% INCLUDEJS '@msaulohenrique_wall/js/angularServices.js' %}
{% INCLUDEJS '@msaulohenrique_wall/js/music.js' %}

<!-- INCLUDE wall_header.html -->

<!-- ENDIF -->
