<!-- IF .c_widget_recents -->
<ul class="recents-list">
    <!-- BEGIN c_widget_recents -->
        <li class="recent-topic-item">
            <a href="{c_widget_recents.URL}"
                class="topic-link"
                title="{L_POST_BY_AUTHOR} {c_widget_recents.AUTHOR} &raquo; {c_widget_recents.TIMESTAMP}"
                >
                {c_widget_recents.TITLE}
            </a>
            <small class="metadata">
                <a href="{c_widget_recents.AUTHOR_URL}">
                    <i class="fa fa-user"></i>
                    {c_widget_recents.AUTHOR}
                </a>

                <span class="time">
                    <i class="fa fa-clock-o"></i>
                    {c_widget_recents.TIMESTAMP}
                </span>
            </small>
        </li>
    <!-- END c_widget_recents -->
</ul>
<!-- ENDIF -->
