<!-- INCLUDE overall_header.html -->
  <div class="wall-main">
   <div class="wall-main-column">
    <div class="wall-columnLeft bg1">
    <!-- INCLUDE wall_menu.html -->
    </div>
    <div class="wall-columnCenter">
    <!-- INCLUDE wall_status.html -->
    </div>  
    <!-- closing columnCenter -->
   </div>
   <div class="wall-columnRight">
    <!-- INCLUDE wall_friend_request_block.html -->
    <div class="clear"><br /></div>
    <!-- IF WALL_NEW_USERS_BLOCK -->
     <!-- INCLUDE wall_new_users_block.html -->
    <!-- ENDIF -->
    <!-- IF WALL_LATEST_TOPICS_BLOCK -->
     <!-- INCLUDE wall_latest_topics_block.html -->
    <!-- ENDIF -->
   </div>
  </div>
<!-- INCLUDE overall_footer.html -->

