{% set S_DMZX_MCHAT = MCHAT_INDEX and MCHAT_LOCATION is defined %}
{% set S_BOARDTOOLS_QUICKREPLY = S_QR_QUICKQUOTE_ENABLE is defined %}
{% set S_VSE_ABBC3 = ABBC3_BBCODE_ICONS is defined %}

{% if S_IN_POSTING or S_COMPOSE_PM or S_QUICK_REPLY or SIGNATURE_PREVIEW is defined or S_DMZX_MCHAT or S_BOARDTOOLS_QUICKREPLY or S_VSE_ABBC3 %}

<!-- INCLUDECSS @vinabb_emojipicker/emojionearea.min.css -->
<!-- INCLUDEJS @vinabb_emojipicker/jquery.caret.min.js -->
<!-- INCLUDEJS @vinabb_emojipicker/jquery.textcomplete.min.js -->
<!-- INCLUDEJS @vinabb_emojipicker/emojione.min.js -->
<!-- INCLUDEJS @vinabb_emojipicker/emojionearea.min.js -->

<script>
	/** global bbtags */

	$(document).ready(function()
	{
		/**
		* BBCode buttons
		*
		* 3.1:
		*	<input name="addbbcode*"...
		*	<input name="addlistitem"...
		*
		* 3.2:
		*	<button name="addbbcode*"...
		*	<button name="addlistitem"...
		*/
		{% if not S_VSE_ABBC3 %}
		$('button[name^="addbbcode"]').each(function()
		{
			var bbcodeIndex = parseInt($(this).attr('onclick').replace('bbstyle(', '').replace(')', ''));

			$(this).attr({
				'data-bbcode-tag-open': (typeof bbtags[bbcodeIndex] !== 'undefined') ? bbtags[bbcodeIndex] : '',
				'data-bbcode-tag-close': (typeof bbtags[bbcodeIndex + 1] !== 'undefined') ? bbtags[bbcodeIndex + 1] : ''
			});

			$(this).removeAttr('onclick');
		});

		$('button[name="addlistitem"]').each(function()
		{
			$(this).attr({
				'data-bbcode-tag-open': $(this).val(),
				'data-bbcode-tag-close': ''
			});

			$(this).removeAttr('onclick');
		})
		{% else %}
		$('input[name^="addbbcode"]').each(function()
		{
			var abbcData = {
				'align': 'center',
				'float': 'left',
				'dir': 'rtl',
				'marq': 'left',
				'mod': "{{ ABBC3_USERNAME|e('js') }}",
				'highlight': 'yellow',
				'glow': 'red',
				'shadow': 'blue',
				'dropshadow': 'blue',
				'blur': 'blue'
			};
			var onClick = $(this).attr('onclick');
			var removeOnClick = true;

			if (onClick.indexOf('bbstyle') !== -1)
			{
				var bbcodeIndex = parseInt(onClick.replace('bbstyle(', '').replace(')', ''));

				$(this).attr({
					'data-bbcode-tag-open': (typeof bbtags[bbcodeIndex] !== 'undefined') ? bbtags[bbcodeIndex] : '',
					'data-bbcode-tag-close': (typeof bbtags[bbcodeIndex + 1] !== 'undefined') ? bbtags[bbcodeIndex + 1] : ''
				});
			}
			else if (onClick.indexOf('url') !== -1 || onClick.indexOf('BBvideo') !== -1)
			{
				removeOnClick = false;
			}
			else if (onClick.indexOf('bbspecial') !== -1)
			{
				var bbcodeData = onClick.replace('bbspecial(', '').replace(')', '').replace(/'/g, '').split(',');
				var bbcodeIndex = parseInt(bbcodeData[1]);
				var bbcodeOpen = (typeof bbtags[bbcodeIndex] !== 'undefined') ? bbtags[bbcodeIndex] : '';
				var bbcodeClose = (typeof bbtags[bbcodeIndex + 1] !== 'undefined') ? bbtags[bbcodeIndex + 1] : '';

				if (bbcodeData[0].indexOf('=') !== -1)
				{
					var key = bbcodeData[0].replace('=', '');
					bbcodeOpen = bbcodeOpen.replace('=', '=' + ((typeof abbcData[key] !== 'undefined') ? abbcData[key] : ''));
				}

				$(this).attr({
					'data-bbcode-tag-open': bbcodeOpen,
					'data-bbcode-tag-close': bbcodeClose
				});
			}

			if (removeOnClick)
			{
				$(this).removeAttr('onclick');
			}
		});

		$('input[name="addlistitem"]').each(function()
		{
			$(this).attr({
				'data-bbcode-tag-open': '[*]',
				'data-bbcode-tag-close': ''
			});

			$(this).removeAttr('onclick');
		});
		{% endif %}

		// Color picker
		$('a[data-color]').each(function()
		{
			$(this).attr({
				'data-bbcode-tag-open': '[color=#' + $(this).data('color') + ']',
				'data-bbcode-tag-close': '[/color]'
			});

			$(this).removeAttr('href');
			$(this).css('cursor', 'pointer');
		});

		// Text size dropdown list
		{% if S_VSE_ABBC3 %}
		$('select[name="abbc3_font"]').removeAttr('onchange');
		$('select[name="abbc3_addbbcode20"]').attr('name', 'addbbcode20');
		{% endif %}

		$('select[name="addbbcode20"]').removeAttr('onchange');

		/**
		* Quote buttons in the bottom review list
		*
		* 3.1:
		*   BBCode: [quote="username"]text[/quote]
		*   Post: addquote(2, 'username', 'wrote');
		*   PM: addquote(2, 'username', 'wrote');
		* 3.2:
		*   BBCode: [quote=username post_id=1 time=1483964216 user_id=2]
		*			text
		*			[/quote]
		*   Post: addquote(2, 'username', 'wrote', {post_id:1,time:1483964216,user_id:2});
		*   PM: addquote(2, 'username', 'wrote', {time:1484074339,user_id:2});
		*/
		$('a[onclick^="addquote"]').each(function()
		{
			var quoteData = $(this).attr('onclick').replace(/['\s{}]/g, '').replace('addquote(', '').replace(');', '').replace(/:/g, '=').split(',');
			var extra = (typeof quoteData[5] !== 'undefined') ? ' ' + quoteData[5] : '';

			$(this).attr({
				'data-bbcode-tag-open': '[quote=' + quoteData[1] + ' ' + quoteData[3] + ' ' + quoteData[4] + extra + ']' + '<br>' + $('#message_' + quoteData[0]).html() + '<br>',
				'data-bbcode-tag-close': '[/quote]'
			});

			$(this).removeAttr('href').removeAttr('onclick');
		});

		// Smilies
		var $smiley = {% if S_DMZX_MCHAT %}$('div#mchat-smilies > a'){% else %}$('div#smiley-box > a'){% endif %}

		$smiley.each(function()
		{
			$(this).attr('data-smiley-code', $(this).find('img').attr('alt'));
			$(this).removeAttr('href').removeAttr('onclick');
			$(this).css('cursor', 'pointer');
		});

		{% if S_DMZX_MCHAT %}
		$('input#mchat-input').attr('data-emojipicker', true);
		$('input#mchat-input').wrap('<div id="mchat-content"></div>');
		$('div#mchat-content').css({
			'position': 'absolute',
			'z-index': 1
		});
		{% endif %}

		{% if S_BOARDTOOLS_QUICKREPLY %}
		$('div#register-and-translit').remove();
		{% endif %}

		// Set the attribute data-emojipicker="true" to load Emoji Picker on other extensions
		var $emojiPicker = $('div#message-box > textarea, [data-emojipicker="true"]');

		$emojiPicker.emojioneArea({
			attributes: {
				dir: '{{ S_CONTENT_DIRECTION }}'
			},
			useInternalCDN: false,
			imageType: 'svg',
			pickerPosition: "{{ S_DMZX_MCHAT ? 'top' : 'bottom'}}",
			filtersPosition: 'bottom',
			buttonTitle: "{{ lang('EMOJI_BUTTON_EXPLAIN')|e('js') }}",
			placeholder: "{{ (lang('MESSAGE') ~ lang('ELLIPSIS'))|e('js') }}",
			filters: {
				tones: {
					title: "{{ lang(['EMOJI_CATS', 'TONES'])|e('js') }}"
				},
				recent: {
					title: "{{ lang(['EMOJI_CATS', 'RECENT'])|e('js') }}"
				},
				smileys_people: {
					title: "{{ lang(['EMOJI_CATS', 'SMILIES'])|e('js') }}"
				},
				animals_nature: {
					title: "{{ lang(['EMOJI_CATS', 'NATURE'])|e('js') }}"
				},
				food_drink: {
					title: "{{ lang(['EMOJI_CATS', 'FOOD'])|e('js') }}"
				},
				activity: {
					title: "{{ lang(['EMOJI_CATS', 'ACTIVITIES'])|e('js') }}"
				},
				travel_places: {
					title: "{{ lang(['EMOJI_CATS', 'TRAVEL'])|e('js') }}"
				},
				objects: {
					title: "{{ lang(['EMOJI_CATS', 'OBJECTS'])|e('js') }}"
				},
				symbols: {
					title: "{{ lang(['EMOJI_CATS', 'SYMBOLS'])|e('js') }}"
				},
				flags: {
					icon : 'flag_gb',// Feel free to change to your 2-letter country code
					title: "{{ lang(['EMOJI_CATS', 'FLAGS'])|e('js') }}"
				}
			}
		});

		// Adjust the new contenteditable div as same as the original textarea
		var checkExist = setInterval(function()
		{
			if ($('div.emojionearea').length)
			{
				// Keep the original font size
				$('div.emojionearea').css({
					'font-size': $emojiPicker.css('font-size')
				});

				// Keep the original height, break long words
				$('div.emojionearea-editor').css({
					'min-height': $emojiPicker.css('height'),
					'word-break': 'break-all'
				});

				// Trick for FireFox incorrect caret position on the contenteditable elements: https://bugzilla.mozilla.org/show_bug.cgi?id=904846
				if (/firefox/i.test(navigator.userAgent))
				{
					$('div.emojionearea-editor').on('click', function()
					{
						if (!$(this).html().length)
						{
							// Do not worry, any extra break lines will be removed
							$(this).html('<br>');
						}
					});
				}

				{% if S_DMZX_MCHAT %}
				$('div.emojionearea').css({
					'width': (parseInt($('div#mchat-main').css('width')) - 10) + 'px'
				});

				$('div#mchat-buttons').css({
					'padding-top': '40px'
				});
				{% endif %}

				clearInterval(checkExist);
			}
		}, 100);

		{% if S_DMZX_MCHAT %}
		$('div.emojionearea-editor').on('keydown', function(e)
		{
			if(e.keyCode == 13)
			{
				$(this).blur();
				mChat.add();
				$(this).html('');
				$(this).focus();
			}
		});
		{% endif %}
	});

	(function (document, window, $)
	{
		// Remove default click events from color buttons
		phpbb.registerPalette = function(el)
		{
			var	orientation	= el.attr('data-orientation'),
				height		= el.attr('data-height'),
				width		= el.attr('data-width'),
				target		= el.attr('data-target'),
				bbcode		= el.attr('data-bbcode');

			// Insert the palette HTML into the container.
			el.html(phpbb.colorPalette(orientation, width, height));
		};

		var pasteHtmlAtCaret = function(html)
		{
			var sel, range;

			if (window.getSelection)
			{
				sel = window.getSelection();

				if (sel.getRangeAt && sel.rangeCount)
				{
					range = sel.getRangeAt(0);
					range.deleteContents();
					var el = document.createElement("div");
					el.innerHTML = html;
					var frag = document.createDocumentFragment(), node, lastNode;

					while (node = el.firstChild)
					{
						lastNode = frag.appendChild(node);
					}

					range.insertNode(frag);

					if (lastNode)
					{
						range = range.cloneRange();
						range.setStartAfter(lastNode);
						range.collapse(true);
						sel.removeAllRanges();
						sel.addRange(range);
					}
				}
			}
			else if (document.selection && document.selection.type != "Control")
			{
				document.selection.createRange().pasteHTML(html);
			}
		};

		{% if S_PLUPLOAD %}
		var updatePlaceInline = function()
		{
			$('[data-attach-id]').each(function(i)
			{
				var filename = $(this).find('span.file-name > a').text();
				var $button = $(this).find('span.attach-controls > input');

				$button.on('click', function()
				{
					$('div.emojionearea-editor').focus();
					pasteHtmlAtCaret('[attachment=' + i + ']' + filename + '[/attachment]');
				});
			});
		};

		// Update inline-attach buttons on preview or edit mode
		updatePlaceInline();

		phpbb.plupload.updateBbcode = function(action, index)
		{
			// Update attachment indexes or remove attachment tags assigned to deleted files
			var	textarea = $('div.emojionearea-editor'),
				text = textarea.html(),
				removal = (action === 'removal');

			// Return if the bbcode isn't used at all.
			if (text.indexOf('[attachment=') === -1)
			{
				return;
			}

			function runUpdate(i)
			{
				var regex = new RegExp('\\[attachment=' + i + '\\](.*?)\\[\\/attachment\\]', 'g');
				text = text.replace(regex, function updateBbcode(_, fileName)
				{
					// Remove the bbcode if the file was removed.
					if (removal && index === i)
					{
						return '';
					}

					var newIndex = i + ((removal) ? -1 : 1);

					return '[attachment=' + newIndex + ']' + fileName + '[/attachment]';
				});
			}

			// Loop forwards when removing and backwards when adding ensures we don't
			// corrupt the bbcode index.
			var i;

			if (removal)
			{
				for (i = index; i < phpbb.plupload.ids.length; i++)
				{
					runUpdate(i);
				}
			}
			else
			{
				for (i = phpbb.plupload.ids.length - 1; i >= index; i--)
				{
					runUpdate(i);
				}
			}

			textarea.html(text);
		};

		// Update inline-attach buttons
		var oldEnableUploader = phpbb.plupload.enableUploader;
		phpbb.plupload.enableUploader = function()
		{
			updatePlaceInline();
			oldEnableUploader();
		};

		var oldDeleteFile = phpbb.plupload.deleteFile;
		phpbb.plupload.deleteFile = function(row, attachId)
		{
			$('[data-attach-id]').each(function(i)
			{
				var $button = $(this).find('span.attach-controls > input');

				// Remove click events on old inline-attach buttons
				$button.off('click');
			});

			oldDeleteFile(row, attachId);
			updatePlaceInline();
		};
		{% endif %}

		{% if S_DMZX_MCHAT or S_BOARDTOOLS_QUICKREPLY or S_VSE_ABBC3 %}
		insert_text = function(text)
		{
			$('div.emojionearea-editor').focus();
			pasteHtmlAtCaret(text);
		};
		{% endif %}
	})(document, window, jQuery);
</script>

{% endif %}
