<div class="navbar bottom" role="navigation">
  <div class="inner">
  <!-- INCLUDE navbar_footer.html -->
  </div>
</div>

<div class="footer-inner">

  <div class="footer-widget col-sm-12">
    <!-- IF TRANSLATION_INFO -->{TRANSLATION_INFO}<br /><!-- ENDIF -->

    <!-- IF DEBUG_OUTPUT -->{DEBUG_OUTPUT}<br /><!-- ENDIF -->
    <!-- IF U_ACP --><strong><a href="{U_ACP}"><i class="fa fa-cog"></i> {L_ACP}</a></strong><br /><!-- ENDIF -->
  </div>

</div>

<div class="endbar">
  <div class="inner">
    <!-- EVENT overall_footer_copyright_prepend -->
    <p class="copyright">

     
      Designed With <i class="fa fa-heart animate-pulse"></i> By
      <a href="https://www.pixlz.in" target="_blank" title="Pixlz">Pixlz</a>.
	
 
    </p>
   
  </div>
</div>
