<div id="navbar-main" class="topbar" data-scroll-header>
  <div class="inner">
    <!-- INCLUDE inc/menubar.html -->
  </div>
</div>

<div class="masthead" role="banner">
  <div class="inner">

    <!-- EVENT overall_header_headerbar_before -->

    <div id="site-description">
      <a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->">
        {SITE_LOGO_IMG}
        <h1>{SITENAME}</h1>
        <p>{SITE_DESCRIPTION}</p>
      </a>
      <p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
    </div>

    <!-- EVENT overall_header_searchbox_before -->
    <!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
    <div id="search-box" class="search-box search-header" role="search">
      <form action="{U_SEARCH}" method="get" id="search">
      <fieldset>
        <input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
        <button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
        <a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
        {S_SEARCH_HIDDEN_FIELDS}
      </fieldset>
      </form>
    </div>
    <!-- ENDIF -->

    <!-- EVENT overall_header_headerbar_after -->

  </div>

  <!-- EVENT overall_header_navbar_before -->
  <div class="navbar top" role="navigation">
    <div class="inner">
      <!-- INCLUDE navbar_header.html -->
    </div>
  </div>
</div>

